$colors: (
  primary: #45a29e,
  primary-light: #66fcf1,
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box; //Mr. Whalen I forgot what this means??? Who cares Julissa, set it and forget it
  font-size: 62.5%; //50% on iphone
  //PX's are for monkeys, rem = relative units, 1 rem = 10px, vh = viewport  height or vw = viewport width 95vw === 95% of screen width hh
  //rachel is cool
}
.header {
  height: 100vh;
  background-color: magenta;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header-primary {
  font-size: 10rem;
}
.header-primary-main {
  display: block;
}
